.contact{
    margin: 0 1rem;
   .title{
       font-size: 30px;
       color: black;
       font-weight: bolder;
       padding: 10px 20px;
       border-bottom: 3px solid #00CC99;
        span{
           color: #00CC99;
           font-weight: normal;
        }
    }
    .content{
        margin-top: 1rem;
        span{
            font-size: 18px;
            font-weight: bold;
        }
    }
}